
@font-face{
    font-family: "Roboto";
    src: url("../fonts/roboto/Roboto-Thin.ttf");
}

@font-face{
    font-family: "Roboto Light";
    src: url("../fonts/roboto/Roboto-Light.ttf");
}

@font-face{
    font-family: "Pacifico";
    src: url("../fonts/pacifico/Pacifico.ttf");
}
